@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$white : #ffffff;
$Light-gray: #d6e2f0;
$Grayish-blue: #7b879d;
$Dark-blue: rgb(31, 50, 81);
$font-paragraph: 15px;
$font-text-g: 'Outfit', sans-seri;
